::selection {
  background: #529;
  color: #ed6;
}

:root {
  color: #111;
  background: #ed6;
  text-shadow: -1ex -1ex 3em;
}

:any-link {
  color: #111;
  outline-color: indigo;
  background: #fa8bee;
}

:any-link:not(:focus) {
  box-shadow: 0 0 3ch 1ch #dc9;
}

:any-link:active {
  text-shadow: 0 -1vh 0, 0 1vh 0;
}
